// start global setup
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Microsoft JhengHei', serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
}
// end global setup

// color var
$footer_bg_color: #559AC8;
$main_bg_color: rgba(250, 250, 250, 0.1);
$show-home-image: true;
$home-image: url(https://farm4.staticflickr.com/3763/9172843058_74cba014c9_o.jpg);
$background-opacity: 0.09;

// mixin
@mixin background {
    @if $show-home-image {
        &#bg_image {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 500px;
                z-index: -1;
                background: rgba(0, 0, 0, $background-opacity);
            }
        }
    }
}

@mixin easeOut {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;  
}

// Media Query Mixins
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin  mediaSm {
    @media screen and (max-width: 450px) {
        @content;
    }
}