// Smartphones
@include mediaMd {
    #bg_image {
        .title {
            font-size: 3.5rem;
        }
    }

    #hot_area {
        height: 200px;

        .btn_group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .btn {
                margin: 0 0 10px 0;
            }
        }
    }

    main {
        .row {
            flex-direction: column;
            align-items: center;

            .col {
                width: 80%;
            }
        }
    }

    #modal_bg {
        #modal {
            width: 80%;

            .modal_top {
                height: 150px;
            }

            .modal_content {
                height: 400px;

                #google_map {
                    height: 400px;
                }
            }
            
        }
    }
}

@include mediaSm {

    #hot_area {
        display: none;
    }

    main {
        padding-top: 50px;

        .container {
            .col {
                width: 90%;

                .top {
                    h3 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 13px;
                    }
                }

                .bottom {
                    font-size: 14px;
                }
            }
        }
    }

    #modal_bg {
        #modal {
            width: 95%;

            .modal_top {
                height: 100px;
            }

            .modal_content {
                height: 300px;

                #google_map {
                    height: 300px;
                }
            }

            .modal_footer {

                h6 {
                    display: none;
                }
            }
        }
    }
}